* {
    box-sizing: border-box
    margin 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(225, 223, 223);
    color: #333;
}
header {
    background-color: rgb(105, 145, 239);
    color: rgb(56, 56, 56);
    line-height: 0.2;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    width: 950px;
    height: 45px; 
    margin: 0 auto;
}
.main-content {
    max-width: 1005px;
    margin: 30px auto;
}
.Habilidades{
    width: 280px; /* ancho del bloque */ 
    float: left; /* lo coloca a la izquierda */ 
    background-color: rgb(215, 213, 213); /* color de fondo */ 
    padding: 15px; /* espacio interno */ 
    border-radius: 10px;
}
img {
    width: 320px;
    height: 400px;
    border-radius: 50px;
    display: block;
    margin-left: 345px;
    box-shadow: 0 1px 6px;
}
.Personal_info{
    width: 230px; /* ancho del bloque */ 
    background-color: rgb(215, 213, 213); /* color de fondo */ 
    padding: 15px; /* espacio interno */ 
    border-radius: 10px;
    margin-left: 700px;
    margin-top: -280px;
    margin-bottom: 160px;
}
.section1 {
    color: rgb(56, 56, 56);
    line-height: 0.0;
    padding: 5px;
    text-align: center;
    width: 500px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(202, 211, 160);
    margin: auto;
    margin-bottom: 10px;
}
.section2{
    color: rgb(56, 56, 56);
    line-height: 0.0;
    padding: 5px;
    text-align: center;
    width: 500px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(202, 211, 160);
    margin: auto;
    margin-bottom: 15px;
    margin-top: -10px;
}

.Referencias{
    background-color: rgb(215, 213, 213);
    color: rgb(56, 56, 56);
    border-radius: 10px;
    width: 600px;
    height: 120px;
    line-height: 1.0;
    margin-top: 14px;
    padding-top: 2px;
    padding-left: 16px;
}
.section3{
    background-color: #883333;
    color:white;
    line-height: 0.0;
    padding: 5px;
    text-align: center;
    width: 650px;
    height: 60px;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.Izquierdo{
    margin-bottom: 70px;
}

.cardI {
    background-color: rgb(176, 203, 186);
    text-align: center;
    width: 440px;
    height: 110px;
    padding: 15px;
    margin-right: 1000px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    line-height: 1.0;
}
.cardI1{
    background-color: rgb(176, 203, 186);
    text-align: center;
    width: 440px;
    height: 100px;
    padding: 15px;
    margin-right: 1000px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    line-height: 1.0;
}
.Derecha{
    width: 230px; /* ancho del bloque */ 
    padding: 15px; /* espacio interno */ 
    margin-left: 500px;
    margin-top: -685px;
    margin-bottom: 160px;
}
.carD {
    background-color: rgb(176, 203, 186);
    text-align: center;
    width: 440px;
    height: 110px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    line-height: 1.0;
}
#footer {
    background-color: #222;
    color:white;
    text-align: center;
    padding: 15px;
}