* {
    box-sizing: border-box
    margin 0;
    padding: 0;
} 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(207, 229, 240);
    color: #333;
}
header {
    background-color: rgb(142, 96, 186);
    color: white;
    padding: 20px;
    text-align: center;
}
.main-content {
    max-width: 1000px;
    margin: 20px auto;
}
section {
    margin-bottom: 20px; /*espacio externo */ 
}
.card {
    background-color: rgb(153, 236, 209);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#footer {
    background-color: #222;
    color:white;
    text-align: center;
    padding: 15px;
}