/* Ocultar checkbox */
#menu-toggle {
  display: none;
}

/* Menú oculto por defecto */
.menu {
  display: none;
  list-style: none;
  flex-direction: column-reverse;
  background: #c5ff95;
  padding: 2%;
  border-radius: 20px;
}

/* Imagen hamburguesa */
.menu-icon img {
  width: 30px;
  cursor: pointer;
}

/* Mostrar menú cuando el checkbox está activo */
#menu-toggle:checked ~ .menu {
  display: flex;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 152, 248);
    border-radius: 40px;
    width: 80%;
    margin: 2% auto;
}

.formulario {
    align-items: center;
    background-color: rgb(83, 103, 219);
    padding: 1em;
    border-radius: 35px;
    width: 65%;
    margin: 2% auto;
}
.boton{
    background-color: rgb(218, 21, 31);
    border: 3px solid lightblue;
    color: white;
    padding: 0.4em 0.9em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 95%;
    margin-top: 1%;
    cursor: pointer;
}
.form{
    background-color: rgb(122, 219, 83);
    padding: 0.3rem 0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    border-radius: 8px;
}
.leg{
    background-color: rgb(191 69 69);
    color: pink;
    padding: 1% 4%;
    border-radius: 7px;
}
.footer{
    background-color: rgb(83, 103, 219);
    color: white;
    text-align: center;
    padding: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.g-recaptcha {
  float: inline-end;
}
